---
---

@import "{{ site.theme }}";

.page-header {
  background-color: rgba(161, 0, 255, 1);
}

.page-header {
  padding: 10px 20px; /* Adjust padding to make the header smaller */
  height: auto; /* Adjust height as necessary, or remove if height is defined elsewhere */
}

.btn {
  color: rgba(255, 255, 255, 0.9);
}

.btn:hover {
  color: rgb(255, 255, 255);
}
